
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-fangxiang:before { content: "\e6ab"; }
.icon-fangxiang1:before { content: "\3435"; }
.icon-fangxiang3:before { content: "\f011e"; }
.icon-fangxiang2:before { content: "\f011b"; }
.icon-xiangzuo:before { content: "\f0112"; }
.icon-arrowdowna:before { content: "\e774"; }
.icon-iconfontfangxiang:before { content: "\e611"; }
.icon-arrowrighta:before { content: "\e78d"; }
.icon-arrowupa:before { content: "\e792"; }
.icon-xiangshang:before { content: "\f0113"; }
.icon-arrowlefta:before { content: "\e77c"; }
.icon-youjiantou:before { content: "\3435"; }
.icon-androidarrowdropright:before { content: "\e707"; }
.icon-androidarrowdropleft:before { content: "\e704"; }
.icon-arrowdownb:before { content: "\e775"; }
.icon-androidarrowdroprightcircle:before { content: "\e708"; }
.icon-jiantou:before { content: "\e61c"; }
.icon-dingwei:before { content: "\e656"; }
.icon-1:before { content: "\e600"; }
.icon-jiantou1:before { content: "\e6ab"; }
