
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-iphone:before { content: "\e657"; }
.icon-iphone1:before { content: "\e61f"; }
.icon-iphone2:before { content: "\e601"; }
.icon-428xiankuangpingguoiphone:before { content: "\e903"; }
.icon-anzhuo:before { content: "\e61c"; }
.icon-anzhuo1:before { content: "\e607"; }
.icon-ipad:before { content: "\e640"; }
.icon-ipad1:before { content: "\e656"; }
.icon-ipad2:before { content: "\e624"; }
